.container{
    background-color: rgb(183, 183, 183);
    width: 600px;
    margin: 2rem auto;
    border-radius: 10px;
}

.input{
    width: 300px;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 2rem;
}

@media screen and (max-width:600px) {
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .input{
        width: 200px;
        margin-bottom: 2rem;
    }
}